.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .status {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .square:focus {
    background: #ddd;
  }
  